header {
	background-color: #66CC66;
	color: darkcyan;
}

body {
	background-color: blueviolet;
}

p {
	color: black;
	text-align: center;
}

h1 {
	text-align: center;
	color: darkred;
	font-size: 100px;
}

nav a {
	margin: 30px
	font-size
	text-decoration: none:
	color: blue;
	border: 3px solid navy;
	border-radius: 20px
	background-color: navy;
}

.popular {
	background-color: blue;
	color: royalblue;
}