header {
	background-color: #66CC66;
	color: darkcyan;
}

body {
	background-color: white;
}

p {
	color: black;
	text-align: center;
}

h1 {
	text-align: center;
	color: orange;
	font-size: 70px;
}

nav a {
	margin: 30px
	font-size
	text-decoration: none:
	color: blue;
	border: 3px solid navy;
	border-radius: 20px
	background-color: navy;
}

.popular {
	background-color: blue;
	color: royalblue;
}
img {
	width: 700px
	height: 800px
}
nav {
	display: flex;
	justify-content: flex-start;
}
nav a {
	text-decoration: none;
	color: 

}

nav a:hover{
	font-size: 30px;
	color: red;
}

div {
	display: flex;
   justify-content:start;
   justify-content: space-between;
   justify-content: space-around;
}

div img {
	width: 40%;
	border: 10px dashed cyan;
	opacity: 0.5;
}

div img:hover {
	opacity: 1;
}